.navbar{
    margin-left: 5%;
    width: 90%;
}

.body{
    padding-top: 5%;
    text-align: center;
    min-height: 500px;
    height: 65%;
}

.sequencer{
    display: inline-block;
    margin: 0 auto;
    width: 900px;
}
.sequencer div{
    margin-left: 10px;
    margin-bottom: 4%;
    font-size: 20px;
}

.sequencer span{
    display: inline-block;
    width: 70px;
}

.numbers{
    height: 10px;
}

.notes{
    display: inline-block;
    margin-right: 19px;
}

.notes-ismore{
    display: inline-block;
    margin-right: 9px;
}

.settings{
    display: inline-block;
    position: relative;
    width:1000px;
    top:-20px;
    left:30px;
    font-size: 22px;
}
.opacity{
    opacity: 0.5;
}

.set{
    position: relative;   
    top:8px;
    height: 55px;
    display: inline-block;
    text-align: center;
}
.size div{
    display: inline-block;
    text-align: center;
}
.size{
    width: 80px;
    border-radius: 10%;
    cursor: pointer;
}
.size-block{
    width: 80px;
}

.size-block select{
    display: block;
}

.size-block div{
    display: inline-block;
}

.sub-size{
    width: 70px;
    border: 1px solid lightgray;
    cursor: pointer;
    margin: -3px;
}

.size-form{
    position: relative;
    top:10px;
    display: inline-block;
    width: 215px;
    height: 30px;
}

.groove-select{
    position: relative;
    left: -20px;
}

.note-size{
    position: relative;
    top:5px;
    font-size: 18px;
    padding: 5px;
}

.control{
    display: inline-block;
}

.control div,span{
    display: block;
}

.size-form span{
    font-size: 15px;
}

.selected{
    color: #91170a;
    font-weight: bold;
}

.default-button{
    display: inline; 
    position: relative;   
    left:-260px;
    top:-15px;
    margin-left: 30px;
    width: 100px;
}

.set span{
    font-size: 15px;
}

footer{
     height: 0px;
     margin-top:-5px;
}

footer span{
    position: relative;
    top:10px;
    left: 80%;
    -webkit-user-select:none;
}

span, i, div{
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
}

.quarter{
    font-size: 25px;
}

i{
    cursor: pointer;
}

.tempo-set div{
    display: inline-block;
}

.grooves{
    display: inline-block;
}

button,select{
    opacity: 0.7;
    text-align: center;
}

html {
    overflow:  hidden;
}

#slider{
    position: absolute;
    margin-left: -10px;
    margin-top:3px;
    text-align: left;
    width: 50px;
    height: 8px;
}
.ui-slider-handle {
    font-size: 11px;
} 


