<div  class="navbar navbar-default body" >
    <div class="sequencer">
            <div class="numbers">
                <span></span>
                <notes
                    *ngFor="#note of notes, #i = index"
                    [loopUrl]="'non'"
                    [indexNumber]="i"
                    [tempo]="tempo"
                    [size]="notes.length"
                    [isMore]="isMore4x4"
                ></notes>
            </div> 
            <div>
                <span> Hi-Hat </span>
                <notes
                    *ngFor="#note of notes, #i = index"
                    [loopUrl]="'app/sound/hat.wav'"
                    [indexNumber]="i"
                    [tempo]="tempo"
                    [size]="notes.length"
                    [isMore]="isMore4x4"
                ></notes>
            </div> 

            <div>
                <span> Snare </span>
                <notes
                    *ngFor="#note of notes, #i = index"
                    [loopUrl]="'app/sound/snare.wav'"
                    [indexNumber]="i"
                    [tempo]="tempo"
                    [size]="notes.length"
                    [isMore]="isMore4x4"
                ></notes>
            </div>
            <div>
                <span> Kick </span>
                <notes
                    *ngFor="#note of notes, #i = index"
                    [loopUrl]="'app/sound/kick.wav'"
                    [indexNumber]="i"
                    [tempo]="tempo"
                    [size]="notes.length"
                    [isMore]="isMore4x4"
                ></notes>
            </div>
    </div>  
    <settings
            [isPlaying]="isPlaying"
            (setSize)="SetSize($event)"
            (setGroove)="SetGroove($event)"
            (setTempo)="ChangeTempo($event)"
            (play)="StartPlaying()"
    ></settings>
</div>


