<div 
    [class.notes]="!isMore" 
    [class.notes-ismore]="isMore"
    >
    <i
         [class.quarter]="isQuarter"
         [class.selected]="isChecked"
         (click)="CheckNote()" 
         (contextmenu)="SetVolume()"
         class="glyphicon glyphicon-oil"
         *ngIf="loopUrl!=undefined"
         >
    </i>
     <i
         [class.quarter]="isQuarter"
         [class.selected]="isChecked"
         (click)="CheckNote()" 
          class="glyphicon"
          style="width:21px;"
         *ngIf="loopUrl==undefined"
         >
         {{indexNumber+1}}
    </i>
    <slider
        [slideValue]="loop.volume"
        (volume)="SetVolume($event)"
        *ngIf="volumeIsOpen"
    ></slider>
</div>