<div class="settings">
  
  <button  (click)="StartPlaying()" class="btn btn-default default-button">
             <i  
                [class.glyphicon-play]="!isPlaying"
                [class.glyphicon-pause]="isPlaying"
                class="glyphicon "
                style="font-size:20px;"
            >
            </i>
  </button>
  
  <form [ngFormModel]="form" class="size-form" >

                <div class="control groove-select">
                    <select ngControl="grooveType"
                            #grooveType="ngForm"
                            class="btn btn-default "
                            (click)="SetGroove($event)"
                            >
                        <option value="1">benny greb</option>
                        <option value="2">funky groove</option>
                        <option value="3">simple groove</option>
                        <option value="0">clear</option>
                    </select>
                    <span>groove</span>
                </div>

                <div  class="control"  >
                    <select [class.opacity]="isPlaying" ngControl="noteSize"
                            #noteSize="ngForm"
                            class="btn btn-default note-size"
                            (click)="SetSize()" 
                            [disabled] = "isPlaying" 
                            >
                                <option value="44" selected>4 / 4</option>
                                <option value="34"> 3 / 4 </option>
                                <option value="54" > 5 / 4 </option>
                                <option value="58"> 5 / 8 </option>
                    </select>
                    
                    <span [class.opacity]="isPlaying" style="margin-top:4px;">size</span>
                </div>
    </form>

    <div class="set " [class.opacity]="isPlaying">
            <div class="tempo-set">
                <div (click)="DownTempo()"
                    (dblclick)="DownTempo(5)" >
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </div>
                <div> {{tempo}} </div>
                <div (click)="UpTempo()"
                    (dblclick)="UpTempo(5)">
                    <i class="glyphicon glyphicon-chevron-right"></i> 
                </div>
            </div>
            <span>tempo</span>
    </div>
</div>